os: windows

language: bash

before_install:
  - git clone git://github.com/phpenv/phpenv.git ~/.phpenv
  - export PATH="$HOME/.phpenv/libexec:$PATH"
  - eval "$(phpenv init -)"
  - git clone https://github.com/php-build/php-build $(phpenv root)/plugins/php-build
  - phpenv help
  - phpenv versions
  - phpenv install 7.2.0
  - phpenv rehash

script: echo "nearly"
